body{
	color: black;
	font-family: cursive;
}

.beli{
	background-color:maroon;
	color: white;
	font-family: cursive;
	font-size: 16px;
	line-height: 20px;
	border-radius: 3px;
	margin: 13px auto 0;
	padding: 1px 0 4px;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
}